kotlin/news-grabber/build/
kotlin/news-grabber/.gradle/
kotlin/news-grabber/.idea/
kotlin/news-grabber/src/main/resources/auth.key
kotlin/news-grabber/src/main/resources/dc.save

.idea/

kotlin/kotlin-dto/kotlin-dto.iml
kotlin/kotlin-dto/build/
kotlin/kotlin-dto/.gradle/
kotlin/kotlin-dto/.idea/

kotlin/build/
kotlin/.gradle/
