<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.badoualy" level="ERROR" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
